<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://api.aihomerun.app</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>993691962740-5s8p3buu1o64et8pdgjcr97cqcj09r5i.apps.googleusercontent.com</string>
	<key>GOOGLE_PLACES_API_KEY</key>
	<string>AIzaSyCjsqIBPzkthvMwHR1rfI8-XwQZXRMuKmw</string>
</dict>
</plist>
